- name: Install role's required chocolatey packages
  win_chocolatey:
    name: "{{ item }}"
    state: present
  with_items: "{{ role_chocolatey_packages }}"

- name: Ensure the bamboo_agent_home {{ bamboo_agent_home }} exist
  win_file:
    path: "{{ bamboo_agent_home }}"
    state: directory

- name: Download the bamboo_agent_jarfile from bamboo_agent_jarfile_url {{ bamboo_agent_jarfile_url }}
  win_get_url:
    url: "{{ bamboo_agent_jarfile_url }}"
    dest: '{{ bamboo_agent_home }}\{{ bamboo_agent_jarfile_name }}'

- name: Detect if we already run the installer
  win_stat:
    path: '{{ bamboo_agent_home }}\bin\InstallBambooAgent-NT.bat'
  register: detect_installer_run

# WARNING Brutal hack followed!
- name: Run the bamboo_remote_agent wrapper to install bamboo agent service
  win_command: '{{ bamboo_agent_launch_cmd }}'
  async: 180
  poll: 10
  when: not detect_installer_run.stat.exists
  ignore_errors: yes

# See https://confluence.atlassian.com/bamboo/configuring-remote-agent-capabilities-using-bamboo-capabilities-properties-289276849.html
- name: Deploy the bamboo custom capabilities files
  win_template:
    src: bamboo-capabilities.properties.j2
    dest: '{{ bamboo_agent_home }}\bin\bamboo-capabilities.properties'

- name: create a user account that runs bamboo-agent (Andrew said it fixes the build from bamboo server job)
  win_user:
    name: '{{ bamboo_agent_user_name }}'
    groups:
      - Users
    password: '{{ bamboo_agent_user_password }}'
    state: present
  when: bamboo_agent_user_password

- name: Deploy the Log On As Service right script
  win_template:
    src: GrantLogOnAsServiceRight.vbs.j2
    dest: '{{ bamboo_agent_home }}\GrantLogOnAsServiceRight.vbs'

- name: Run the GrantLogOnAsServiceRight.vbs to grant to bamboo user
  win_command: 'cscript //B {{ bamboo_agent_home }}\GrantLogOnAsServiceRight.vbs'

- name: Ensure that system32 and Powershell are present on the global system path, and in the specified order
  win_path:
    elements:
    - '%SystemRoot%'
    - '%SystemRoot%\system32'
    - '%SystemRoot%\system32\WindowsPowerShell\v1.0'

- name: Allow user {{ bamboo_agent_user_name }} to have full right under {{ bamboo_agent_home }}
  win_acl:
    user: '{{ bamboo_agent_user_name }}'
    path: '{{ bamboo_agent_home }}'
    rights: FullControl
    type: allow
    state: present
    inherit: ContainerInherit, ObjectInherit
    propagation: 'None'

- name: Check if service bamboo-remote-agent is installed
  win_service:
    name: bamboo-remote-agent
  register: service_info

- name: Install the agent wrapper service
  win_command: '{{ bamboo_agent_home }}\bin\InstallBambooAgent-NT.bat'
  when: not service_info.exists

- name: Start the bamboo-remote-agent service if not started yet
  win_service:
    name: bamboo-remote-agent
    start_mode: auto
    state: started
    username: '{{ ansible_env.USERDOMAIN }}\{{ bamboo_agent_user_name }}'
    password: '{{ bamboo_agent_user_password }}'

- block:
    - name: Get all IIS servers fact (target deployment hosts) non-prod
      ec2_instance_facts:
        region: "{{ region }}"
        profile: "{{ target_profile_non_prod }}"
        filters:
          instance-state-name: [running, stopped]
          "tag:Application": "{{ target_role_type}}"
      register: ec2facts

    - name: Get all IIS servers fact (target deployment hosts) prod
      ec2_instance_facts:
        region: "{{ region }}"
        profile: "{{ target_profile_prod }}"
        filters:
          instance-state-name: [running, stopped]
          "tag:Application": "{{ target_role_type}}"
      register: ec2facts_prod

    - name: Set fact for target_deployment_hosts to be used in custom ps scripts
      set_fact:
        target_deployment_hosts: "{{ ec2facts.instances|map(attribute='public_ip_address')|list + ec2facts_prod.instances|map(attribute='public_ip_address')|list }}"

  when:
    - target_profile_non_prod is defined and target_profile_non_prod
    - target_profile_prod is defined and target_profile_prod
    - target_role_type is defined and target_role_type
  vars:
    ansible_connection: local

# These are the command Andrew needs to run - supposed to be idempotant
- name: Deploy the custom setup ps1 script
  win_template:
    dest: '{{ bamboo_agent_home }}\ansible-custom-setup.ps1'
    src: 'ansible-custom-setup.ps1.j2'

- name: Run the custom setup script
  win_command: 'powershell {{ bamboo_agent_home }}\ansible-custom-setup.ps1'
