# This is custom setup the agent env from Andrew Dean to make the build process to work

Start-Process "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe" -ArgumentList 'modify --installPath "C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools" --quiet --add Microsoft.VisualStudio.Component.NuGet.BuildTools --add Microsoft.Net.Component.4.5.TargetingPack --norestart --force' -Wait -PassThru

[Environment]::SetEnvironmentVariable("MSBuildSDKsPath", "C:\Program Files\dotnet\sdk\2.1.4\Sdks", "Machine")

# Not sure if hostname works, Andrew said it is an IP address
# Or even why we need it if we have the hostname trusted by CA in the
# certificate and DNS is correct. TODO verify if it is needed at all
{% for host_item in target_deployment_hosts|default([]) %}
{% if host_item %}
Set-Item wsman:\localhost\Client\TrustedHosts -value {{ host_item }}
{% endif %}
{% endfor %}
